html body.cre-t-12 .stock-status-out-of-stock {
  background: #F41C1C;
  color: #fff;
  padding: 12px;
  border-radius: 4px;
  line-height: normal;
  font-weight: 600;
  display: flex;
  max-width: max-content;
  width: 100%;
  font-size: 16px;
  align-items: center;
}

html body.cre-t-12-DeliveryDatePresent .ukr__product__info .product-single__meta .product-block>[data-product-lead-time] {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  background: #F41C1C;
  border-radius: 8px;
}

html body.cre-t-12 .ukr__product__info .product-single__meta .product-block>[data-product-lead-time]>.product-availability:first-child {
  max-width: max-content;
  width: 100%;
}

html body.cre-t-12 .ukr__product__info .product-single__meta .product-block>[data-product-lead-time] .product_estimated_date,
html body.cre-t-12 .ukr__product__info .product-single__meta .product-block>[data-product-lead-time] .product_estimated_date .product__lead__time {
  margin-top: 0 !important;
}

html body.cre-t-12 .stock-status-out-of-stock+.product-availability {
  color: #fff;
  padding: 12px !important;
  position: relative;
}

html body.cre-t-12 .product-availability.product-delivery::before {
  content: "";
  left: -5px;
  height: 99px;
  /* top: -12px; */
  width: 1px;
  background: #fff;
  height: 100%;
  position: absolute;
  top: 0;
}

html body.cre-t-12-DeliveryDateNotPresent .stock-status-out-of-stock+.oos-message {
  position: relative;
}

html body.cre-t-12-DeliveryDateNotPresent .stock-status-out-of-stock+.oos-message::before {
  content: "";
  left: 0px;
  height: 99px;
  /* top: -12px; */
  width: 1px;
  background: #fff;
  height: 100%;
  position: absolute;
  top: 0;
}


html body.cre-t-12-DeliveryDateNotPresent .ukr__product__info .product-single__meta .product-block>[data-product-lead-time]>.product-availability:first-child [data-product-availability] {
  display: flex;
}

html body.cre-t-12-DeliveryDateNotPresent .stock-status-out-of-stock+.oos-message {
  text-align: left;
  margin-top: 0;
  padding: 12px;
  color: #fff;
}

html body.cre-t-12-DeliveryDateNotPresent .stock-status-out-of-stock+.oos-message a {
  color: #fff !important;
}

html body.cre-t-12-DeliveryDateNotPresent .stock-status-out-of-stock {
  background: transparent;
  border: none;
}

html body.cre-t-12-DeliveryDateNotPresent .ukr__product__info .product-single__meta .product-block>[data-product-lead-time]>.product-availability:first-child {
  background-color: #F41C1C;
  border-radius: 4px;
  margin-top: 10px;
}

@media screen and (max-width:1024px) {
  html body.cre-t-12-DeliveryDatePresent .ukr__product__info .showMeOnMobile {
    display: none !important;
  }

  html body.cre-t-12-DeliveryDatePresent .stock-status-out-of-stock+.product-availability {
    display: block !important;
  }

  html body.cre-t-12-DeliveryDatePresent .ukr__product__info .product-single__meta .product-block>[data-product-lead-time] {
    gap: 5px;
  }

  html body.cre-t-12-DeliveryDatePresent .stock-status-out-of-stock+.product-availability {
    padding: 5px 10px !important;
  }

  html body.cre-t-12-DeliveryDatePresent .ukr__product__info .product-single__meta .product-block>[data-product-lead-time] {
    gap: 0 !important;
  }

  html body.cre-t-12-DeliveryDatePresent .stock-status-out-of-stock+.product-availability .product__lead__time .product__lead__time {
    font-size: 14px !important;
  }

  html body.cre-t-12-DeliveryDatePresent .stock-status-out-of-stock+.product-availability .product__lead__time {
    font-size: 13px;
  }

  html body.cre-t-12-DeliveryDateNotPresent .stock-status-out-of-stock+.oos-message {
    margin-left: 0 !important;
  }

  html body.cre-t-12-DeliveryDateNotPresent .stock-status-out-of-stock {
    padding: 0px 5px !important;
  }

  html body.cre-t-12-DeliveryDateNotPresent .stock-status-out-of-stock+.oos-message::before {
    left: 2px !important;
  }

  html body .product-availability.product-delivery::before {
    left: -2px !important;
  }
}

/* 
.mobileFlex:has(>.pdp-add-to-cart){
  display: none ;
} */

html body.cre-t-12 .cre-t-12-preorder-btn {
  border: 1px solid var(--gold);
  background-color: var(--gold);
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 11px 20px;
  border-radius: 25px;
  width: 100% !important;
  margin-bottom: 20px !important;
}

html body.cre-t-12 .mobileFlex:has(.pdp-add-to-cart) {
  display: none;
}

html body.cre-t-12 #popmechanic-container-61090 #popmechanic-first,
html body.cre-t-12 #popmechanic-form-61090 {
  max-width: 100% !important;
  width: 100% !important;
  height: auto !important;
}

html body.cre-t-12 [data-popmechanic-embed="61090"] {
  margin-top: 20px !important;
  margin-bottom: 60px !important;
}

html body.cre-t-12 [data-popmechanic-embed="61090"] #popmechanic-thankyou {
  height: auto !important;
}

html body.cre-t-12 [data-popmechanic-embed="61090"] #popmechanic-thankyou .popmechanic-text {
  margin-bottom: 0 !important;
}

@media screen and (max-width:768px) {
  html body.cre-t-12 .cre-t-12-preorder-btn span {
    display: block !important;
  }
}

@media screen and (max-width:380px) {
  html body.cre-t-12 .cre-t-12-preorder-btn {
    font-size: 15px !important;
  }
}